In [1]:
from api.riot_api_routes import *
from api.variables import SERVER_ROUTES, SERVER_REAL_NAME_TO_ROUTE, DIVISIONS, TIERS, GAME_TYPE,MAIN_GAMEMODE,RANKED_QUEUES, MATCHES_STATS_KEYS

import json
from django.conf import settings
from os import path
import os
import random

import pandas as pd
from time import sleep

league_data_route=path.join(settings.PREPROCESS_PATH, "league_data.json")
player_sample_route=path.join(settings.PREPROCESS_PATH, "player_sample.json")
matches_sample_route=path.join(settings.PREPROCESS_PATH, "matches_sample.csv")
champ_ban_file=path.join(settings.PREPROCESS_PATH, "champ_ban.csv")
champ_data_file=path.join(settings.PREPROCESS_PATH, "champ_data.csv")
playstyle_data_file=path.join(settings.PREPROCESS_PATH, "playstyle_data.csv")

In [2]:
champ_data = pd.read_csv(champ_data_file)
len(champ_data)

146550

In [14]:
high_elo_divisions = ["PLATINUM","DIAMOND",'grandmasters', 'challengers', 'masters']
high_elo_data = champ_data.loc[champ_data['division'].isin(high_elo_divisions)]
high_elo_data

,championId,teamId,role,lane,spell1Id,spell2Id,gameDuration,tier,division,win,...,perk1,perk2,perk3,perk4,perk5,perkPrimaryStyle,perkSubStyle,statPerk0,statPerk1,statPerk2
20,235,100,DUO_SUPPORT,BOTTOM,4,7,1740,II,PLATINUM,False,...,8304,8345,8410,8009,8014,8300,8000.0,5008,5008,5002
21,555,100,DUO_CARRY,BOTTOM,14,4,1740,II,PLATINUM,False,...,8463,8473,8242,8136,8106,8400,8100.0,5008,5008,5002
22,7,100,SOLO,MIDDLE,4,14,1740,II,PLATINUM,False,...,8143,8138,8135,8345,8352,8100,8300.0,5008,5008,5003
23,86,100,SOLO,TOP,4,14,1740,II,PLATINUM,False,...,9111,9105,8014,8473,8446,8000,8400.0,5005,5008,5002
24,120,100,NONE,JUNGLE,11,6,1740,II,PLATINUM,False,...,9111,9104,8014,8234,8232,8000,8200.0,5005,5008,5002
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
146515,61,200,SOLO,MIDDLE,12,4,1342,III,PLATINUM,False,...,8226,8210,8237,8304,8345,8200,8300.0,5008,5008,5003
146516,12,200,DUO_SUPPORT,BOTTOM,4,14,1342,III,PLATINUM,False,...,8446,8429,8451,8345,8347,8400,8300.0,5007,5002,5001
146517,39,200,SOLO,TOP,4,12,1342,III,PLATINUM,False,...,9111,9104,8299,8345,8352,8000,8300.0,5005,5008,5002
146518,523,200,DUO_CARRY,BOTTOM,4,7,1342,III,PLATINUM,False,...,9111,9103,8014,8275,8236,8000,8200.0,5005,5008,5002
146519,60,200,NONE,JUNGLE,4,11,1342,III,PLATINUM,False,...,9111,9104,8014,8275,8232,8000,8200.0,5005,5008,5002

In [15]:
total_matches = len(high_elo_data)/10
total_matches

5887.0

In [16]:
champs = high_elo_data['championId'].unique()
pickrate=[]
for ch in champs:
    total_with_champ = high_elo_data.loc[(high_elo_data['championId'] == ch)]
    pickrate.append({
        "championId":ch,
        "pickrate":len(total_with_champ) * 100 / total_matches,
        "winrate":len(total_with_champ.loc[total_with_champ['win']==True] ) * 100 / len(total_with_champ),
        "total_picked":len(total_with_champ)
    })

In [17]:
data_per_champ = pd.DataFrame(pickrate)
data_per_champ

     championId   pickrate    winrate  total_picked
0           235  15.355869  51.880531           904
1           555  10.395787  50.000000           612
2             7   6.607780  48.329049           389
3            86   8.663156  46.078431           510
4           120   4.195685  51.417004           247
..          ...        ...        ...           ...
143         136   1.257007  58.108108            74
144          31   3.227450  51.578947           190
145          77   1.053168  56.451613            62
146          90   3.295397  47.938144           194
147         102   3.635128  50.000000           214

[148 rows x 4 columns]

In [23]:
data_per_champ.sort_values("pickrate", ascending=False).tail(10)

     championId  pickrate    winrate  total_picked
15           74  1.936470  53.508772           114
76           83  1.885510  53.153153           111
121          42  1.834551  53.703704           108
137           1  1.579752  50.537634            93
141         427  1.562765  55.434783            92
114          96  1.426873  53.571429            84
117         133  1.324953  61.538462            78
143         136  1.257007  58.108108            74
145          77  1.053168  56.451613            62
13           72  0.951249  51.785714            56

In [24]:
champ_ban = pd.read_csv(champ_ban_file)
champ_ban.head()

   championId  pickTurn division tier   win
0          53         1     IRON  III  True
1         875         2     IRON  III  True
2         555         3     IRON  III  True
3          55         4     IRON  III  True
4         516         5     IRON  III  True

In [28]:
champ_ban = champ_ban.loc[champ_data['division'].isin(high_elo_divisions)]
champ_ban['championId'].value_counts()

38     2617
122    2425
62     2383
157    2125
25     2037
       ...
42        9
14        8
72        8
115       8
15        4
Name: championId, Length: 149, dtype: int64

In [30]:
winrate_on_ban=[]

for champ in champ_ban['championId'].unique():
    total = len(champ_ban.loc[(champ_ban['championId'] == champ)])
    win = len(champ_ban.loc[(champ_ban['championId'] == champ) & (champ_ban['win']==True)])
    winrate = win * 100 / total
    winrate_on_ban.append({
        "championId":champ,
        "winrate":winrate,
        "total":total
    })
pd.DataFrame(winrate_on_ban).sort_values("total", ascending=False).head(10)

    championId    winrate  total
3           38  49.828047   2617
0          122  48.247423   2425
6           62  50.062946   2383
12         157  50.400000   2125
4           25  49.631811   2037
9          875  50.049554   2018
11         350  51.509872   1722
2          111  51.679434   1697
13         235  50.297265   1682
28         523  48.300537   1677

1

In [ ]:
winrate_on_ban['winrate']= * 100 / len(winrate_on_ban[])

In [19]:
len(winrate_on_ban['championId'])

50

In [6]:
psd = pd.read_csv(playstyle_data_file)
psd

,championId,teamId,role,lane,gameDuration,tier,division,win,kills,assists,...,totalDamageDealtToChampions,magicDamageDealtToChampions,physicalDamageDealtToChampions,goldEarned,totalMinionsKilled,neutralMinionsKilled,neutralMinionsKilledTeamJungle,neutralMinionsKilledEnemyJungle,wardsPlaced,wardsKilled
0,201,100,DUO_SUPPORT,BOTTOM,1258,IV,SILVER,True,2,20,...,6712,5030,1294,6248,23,0,0,0,8,2
1,161,100,SOLO,MIDDLE,1258,IV,SILVER,True,6,12,...,23061,15046,1467,9051,129,4,0,0,7,2
2,22,100,DUO_CARRY,BOTTOM,1258,IV,SILVER,True,12,13,...,14988,1650,13338,11219,123,4,0,4,5,0
3,83,100,SOLO,TOP,1258,IV,SILVER,True,3,5,...,9436,2808,6628,7080,100,0,0,0,6,4
4,72,100,NONE,JUNGLE,1258,IV,SILVER,True,10,3,...,6839,1500,4549,8895,8,84,37,23,4,1
5,39,200,SOLO,MIDDLE,1258,IV,SILVER,False,3,2,...,8423,2773,4960,7046,127,0,0,0,5,0
6,114,200,SOLO,TOP,1258,IV,SILVER,False,3,2,...,10014,640,7289,7927,124,0,0,0,8,1
7,121,200,NONE,JUNGLE,1258,IV,SILVER,False,2,1,...,3502,273,2816,5759,7,71,44,8,9,3
8,412,200,DUO_SUPPORT,BOTTOM,1258,IV,SILVER,False,3,4,...,6205,4617,852,5497,23,0,0,0,12,1
9,21,200,DUO_CARRY,BOTTOM,1258,IV,SILVER,False,2,3,...,9351,696,8548,7100,117,0,0,0,6,0
10,82,100,SOLO,TOP,1471,I,IRON,False,0,1,...,6403,5421,982,6215,119,0,0,0,6,1
11,111,100,DUO_SUPPORT,BOTTOM,1471,I,IRON,False,1,5,...,5410,3687,1722,5174,22,0,0,0,12,1
12,11,100,NONE,JUNGLE,1471,I,IRON,False,3,4,...,10754,120,8642,6837,11,72,45,0,7,1
13,3,100,SOLO,MIDDLE,1471,I,IRON,False,1,0,...,6972,6924,48,6349,99,0,0,0,6,0
14,202,100,DUO_CARRY,BOTTOM,1471,I,IRON,False,4,4,...,11474,673,10801,8108,139,0,0,0,3,0
15,18,200,DUO_CARRY,BOTTOM,1471,I,IRON,True,5,7,...,10655,2464,8160,8619,98,5,0,1,8,0
16,120,200,NONE,JUNGLE,1471,I,IRON,True,6,9,...,11844,1974,8480,9893,35,112,88,8,8,2
17,83,200,SOLO,TOP,1471,I,IRON,True,10,2,...,17393,2792,14601,11352,163,4,0,0,5,1
18,161,200,SOLO,MIDDLE,1471,I,IRON,True,7,10,...,19650,13641,783,9848,166,0,0,0,8,1
19,117,200,DUO_SUPPORT,BOTTOM,1471,I,IRON,True,0,12,...,3425,2163,899,6542,8,0,0,0,8,0
20,25,100,SOLO,MIDDLE,1563,III,BRONZE,False,10,2,...,19273,16942,1927,9163,109,16,12,0,11,3
21,117,100,DUO_SUPPORT,BOTTOM,1563,III,BRONZE,False,0,5,...,1802,1583,219,4958,15,0,0,0,11,4
22,24,100,SOLO,TOP,1563,III,BRONZE,False,3,4,...,7977,1451,6526,7718,90,4,4,0,11,1
23,59,100,NONE,JUNGLE,1563,III,BRONZE,False,2,12,...,8435,2199,6161,7858,13,68,40,4,1,5
24,51,100,DUO_CARRY,BOTTOM,1563,III,BRONZE,False,1,1,...,3416,318,3098,6981,128,0,0,0,6,0
25,56,200,SOLO,MIDDLE,1563,III,BRONZE,True,3,6,...,9781,489,8991,8557,122,12,12,0,13,1
26,54,200,DUO_SUPPORT,BOTTOM,1563,III,BRONZE,True,9,16,...,25782,22700,2397,10026,31,8,4,0,19,3
27,33,200,NONE,JUNGLE,1563,III,BRONZE,True,1,11,...,5139,3651,1156,7295,5,88,57,12,6,0
28,21,200,DUO_CARRY,BOTTOM,1563,III,BRONZE,True,10,9,...,15016,1083,13811,13095,190,19,16,3,9,1
29,104,200,SOLO,TOP,1563,III,BRONZE,True,5,6,...,14602,1609,12680,8193,92,8,0,4,8,1
30,11,100,NONE,JUNGLE,1869,II,BRONZE,False,5,2,...,14431,154,10756,10695,55,96,96,0,9,1
31,75,100,SOLO,TOP,1869,II,BRONZE,False,1,3,...,23496,7042,14505,9589,190,16,12,0,2,0
32,222,100,DUO_CARRY,BOTTOM,1869,II,BRONZE,False,6,3,...,15385,1398,13937,10372,167,12,8,0,7,0
33,111,100,DUO_SUPPORT,BOTTOM,1869,II,BRONZE,False,1,10,...,8501,5035,2188,7377,40,0,0,0,24,1
34,103,100,SOLO,MIDDLE,1869,II,BRONZE,False,3,3,...,10986,6587,790,7483,98,8,0,0,8,0
35,36,200,NONE,JUNGLE,1869,II,BRONZE,True,2,8,...,15084,8627,5325,12460,77,134,81,8,11,2
36,58,200,SOLO,TOP,1869,II,BRONZE,True,4,2,...,12803,1409,11393,10383,180,4,0,4,10,0
37,99,200,SOLO,MIDDLE,1869,II,BRONZE,True,14,7,...,25357,24328,1029,12936,133,12,8,0,10,0
38,157,200,DUO_CARRY,BOTTOM,1869,II,BRONZE,True,7,1,...,15301,2168,12661,11788,198,13,6,1,6,0
39,117,200,DUO_SUPPORT,BOTTOM,1869,II,BRONZE,True,1,15,...,5204,3576,1275,7825,7,1,0,1,19,1
40,41,100,SOLO,TOP,1821,II,SILVER,True,2,14,...,16632,4349,10736,10596,151,0,0,0,8,2
41,21,100,DUO_CARRY,BOTTOM,1821,II,SILVER,True,11,12,...,19930,897,18948,12129,121,8,8,0,9,2
42,235,100,DUO_SUPPORT,BOTTOM,1821,II,SILVER,True,11,19,...,22558,0,22370,11481,15,2,0,0,23,7
43,72,100,NONE,JUNGLE,1821,II,SILVER,True,2,16,...,9901,3129,5812,10810,30,132,72,24,4,1
44,61,100,SOLO,MIDDLE,1821,II,SILVER,True,9,16,...,24575,23100,1410,12167,164,4,0,4,10,4
45,24,200,NONE,JUNGLE,1821,II,SILVER,False,6,5,...,13498,2729,9453,11167,51,128,83,8,10,2
46,25,200,DUO_SUPPORT,BOTTOM,1821,II,SILVER,False,5,7,...,12019,11041,750,8085,19,0,0,0,28,0
47,105,200,SOLO,MIDDLE,1821,II,SILVER,False,5,8,...,18940,15769,3170,9763,135,0,0,0,4,0
48,55,200,SOLO,TOP,1821,II,SILVER,False,9,3,...,18554,17226,901,11725,155,0,0,0,6,2
49,51,200,DUO_CARRY,BOTTOM,1821,II,SILVER,False,1,9,...,13397,859,12537,8436,102,12,12,0,7,1